<!DOCTYPE html>
<html>
    <head>
        <title>Predictions Audio</title>
        <style>
            *{
                font-size: x-large;
                font-family: fantasy;
            }
        </style>
    </head>
    <body>
        <input type="file" id="audio-selector">
        <button id="predict-button">Predict</button>
        <p style="font-weight: bold">Predictions</p>
        <h3>Predicted Class</h3>
        <p><var id="label1"> :</var> : <span id="prob1"></span></p>
        <p><var id="label2"> :</var> : <span id="prob2"></span></p>
        <p><var id="label3"> :</var> : <span id="prob3"></span></p>
        <!-- <p>Dog : <span id="dog-prediction"></span></p>
        <p>Cat : <span id="cat-prediction"></span></p> -->

        <audio id="myAudio">
            <source src=""/ id="selected-audio" type="audio/wav">
            Your browser does not support the audio element.
          </audio>
          
          <p>Click the buttons to play or pause the audio.</p>
          
          <button onclick="playAudio()" type="button">Play Audio</button>
          <button onclick="pauseAudio()" type="button">Pause Audio</button> 
          
          <script>
          var x = document.getElementById("myAudio"); 
          
          function playAudio() { 
            x.play(); 
          } 
          
          function pauseAudio() { 
            x.pause(); 
          } 
          </script>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            let base64Audio;
            $('#audio-selector').change(function(){
                let reader = new FileReader();
                reader.onload = function(e){
                    let dataURL = reader.result;
                    $('#selected-audio').attr("src", dataURL);
                    base64Audio = dataURL.replace("data:audio/wav;base64,","");
                    console.log(base64Audio);
                }
                reader.readAsDataURL($("#audio-selector")[0].files[0]);
                // $("#dog-prediction").text("");
                // $("#cat-prediction").text("");
                $("#predicted-class").text("");
            });

            $("#predict-button").click(function(event){
                let message = {
                    audio : base64Audio
                }
                console.log(message);
                $.post("https://inbound-byte-313314.et.r.appspot.com/predict", JSON.stringify(message), function(response){
                    $("#label1").text(response.prediction.label1);
                    $("#prob1").text(response.prediction.prob1);
                    $("#label2").text(response.prediction.label2);
                    $("#prob2").text(response.prediction.prob2);
                    $("#label3").text(response.prediction.label3);
                    $("#prob3").text(response.prediction.prob3);
                    console.log(response);
                });
            });
        </script>
    </body>
</html>